html,body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter-form {
  height: 300px;
  width: 200px;
  border: solid 1px gold;
  overflow: auto;
}
.filter-item {
  background: gold;
  height: 30px;
  padding: 5px 10px;
  color: black;
  border-bottom: solid 1px goldenrod;
}
.filter-options {
  display: flex;
  margin-bottom: 20px;
}
.filter-option {
  margin: 0 10px;
}
label, select {
  margin-right: 10px;
}